<a href="https://colab.research.google.com/github/Abdelrhman410/IMDB-Analysis/blob/main/IMDB_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**$\color{skyblue}{\text{Questions of  the stake holders}}$**

which company has the highest revenue

what year has the highest revenue

what is the relation between the vote_count and the vote_average 

which director has the highest revenue

#**$\color{skyblue}{\text{Code}}$**

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
df  = pd.read_csv("https://raw.githubusercontent.com/YahiaML/TMDb-movies-data-investigation/main/tmdb-movies.csv")

In [ ]:
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09


#**$\color{skyblue}{\text{Cleaning Data}}$**

In [ ]:
df.drop(["id", "imdb_id", "popularity", "tagline","overview", "homepage", "runtime", "genres", "release_date", "budget_adj", "revenue_adj"], axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                10866 non-null  int64
 1   revenue               10866 non-null  int64
 2   original_title        10866 non-null  object
 3   cast                  10790 non-null  object
 4   director              10822 non-null  object
 5   keywords              9373 non-null   object
 6   production_companies  9836 non-null   object
 7   vote_count            10866 non-null  int64
 8   vote_average          10866 non-null  float64
 9   release_year          10866 non-null  int64
dtypes: float64(1), int64(4), object(5)
memory usage: 849.0+ KB

In [ ]:
df.isnull().sum()

budget                     0
revenue                    0
original_title             0
cast                      76
director                  44
keywords                1493
production_companies    1030
vote_count                 0
vote_average               0
release_year               0
dtype: int64

In [ ]:
df.dropna(axis = 0 , inplace = True)

In [ ]:
df.isnull().sum()

budget                  0
revenue                 0
original_title          0
cast                    0
director                0
keywords                0
production_companies    0
vote_count              0
vote_average            0
release_year            0
dtype: int64

In [ ]:
df.describe()

             budget       revenue   vote_count  vote_average  release_year
count  8.671000e+03  8.671000e+03  8671.000000   8671.000000   8671.000000
mean   1.770262e+07  4.922035e+07   264.070234      6.003079   2000.129051
std    3.356635e+07  1.289211e+08   635.038058      0.893963     13.223727
min    0.000000e+00  0.000000e+00    10.000000      1.500000   1960.000000
25%    0.000000e+00  0.000000e+00    20.000000      5.500000   1993.000000
50%    1.400000e+06  1.763910e+05    54.000000      6.100000   2004.000000
75%    2.100000e+07  3.888534e+07   199.500000      6.600000   2011.000000
max    4.250000e+08  2.781506e+09  9767.000000      8.700000   2015.000000

In [ ]:
sum(df.duplicated())
df = df.drop_duplicates()



#**$\color{skyblue}{\text{Analyze Data}}$**

Research Question 1 (Which company has the highest revenue?)

In [ ]:
filtered_budget = df [df['budget']!=0 ]

In [ ]:
df['director'] = df['director'].apply(lambda x: x.split("|")[0])

In [ ]:
directors_revenue = {}

for director in df['director']:
  x = 5

In [ ]:
directors_revenue = {}

for director in df['director']:

  if director in directors_revenue.key() :
    directors_revenue[director]